.zxc{
    background-image: url(./images/second.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}
h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
h3{
    padding-top: 310px;
    text-align: center;
    color: white;
    font-size: 40px;
}